body {
    background-image: url(../images/web-bck.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #dfe8ef;
    
}


@media only screen and (min-width: 600px){

    html {
        background-image: none;
    }

    body{
        background-image: url(../images/tablet-bck.jpg);
        background-position: top right;
        background-repeat: no-repeat;
    }
    }

@media only screen and (min-width: 1400px){
    html {
        background-image: none;
    }

    body{
    
    background-image: url(../images/grains.png);
    background-position: top right;
    background-repeat: no-repeat;
}
}

