body {
    background-image: url(../images/web-bck.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    
}


@media only screen and (min-width: 600px){

    body{
        background-image: url(../images/tablet-bck.jpg);
        background-position: top right;
        background-repeat: no-repeat;
    }
    }

@media only screen and (min-width: 1400px){

   

    body{
    
    background-image: url(../images/dsktp-bck.jpg);
    background-position: top right;
    background-repeat: no-repeat;
}
}

