/* $satin-sheen-gold: #c8963eff;
$dark-moss-green: #52602eff;
$old-lace: #fffaebff;
$black-olive: #403d39ff;
$eerie-black: #252422ff; */

body {
    width: 95%;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 20px;
}

.navImg {
    max-width: 200px;
}

/* nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
} */

#itemList {
    padding-top: 20px;
}

h1 {
    font-family: "Abril Fatface";
    font-size: 3em;
}

li, h2, h3, h4 {
    font-family: "Open Sans"
}

a {
    text-decoration: none;
    font-size: 1em;
    transition: all 1sec ease-out;

}

a:hover {
    font-size: 1.15em;
}



/* add space between li */
/* change header font size and text */
/* add background photo */
