

body {
    width: 95%;
    margin: auto;
    background-image: url(../images/grains.png);
    background-position: top right;
    background-color: #f6eee2;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 20px;
    padding-bottom: 20px;

}

.navImg {
    max-width: 200px;
}

nav ul a {
    margin-bottom: 10px;
}

#itemList {
    padding-top: 20px;
}

h1 {
    font-family: "Abril Fatface";
    font-size: 3em;
    margin-bottom: 0;
}

li, h2, h3, h4 {
    font-family: "Open Sans"
}

label {
    font-family: "Abril Fatface";
}

h4{
    margin-top: 0;
    border-bottom: 2px solid #403d39ff;
    max-width: 175px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #52602eff;
    background-color: none;
    padding-top: 10px;
    padding-bottom: 10px;

}
.navLink {
    color: black;
    background-color: none;
    transition: color 1sec ease-in, background-color 1sec ease-in;
}

.navLink:hover {
    color: #fffaebff;
    background-color: #403d39ff;
    border-radius: 5%;
    padding: 5px;
}

a:hover {
    color: #c8963eff;
}

ul:not(nav ul){
    padding-top: 20px;
}

nav ul li {
    border-bottom: 2px #c8963eff solid;
    padding: 10px;
}

.mainHeaders {
    padding-top: 50px;
}

.error {
    font-size: 1.25em;
    color: #c8963eff;
    font-family: "Open Sans";
    font-weight: 100;
}


/* $satin-sheen-gold: #c8963eff;
$dark-moss-green: #52602eff;
$old-lace: #fffaebff;
$black-olive: #403d39ff;
$eerie-black: #252422ff; */
