main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #808080;
    font-weight: 100;
    margin: 0;
}

p {

}

.logo {

}